@font-face {
	font-family: "Nunito";
	src: url("Nunito-ExtraLight.ttf") format("opentype");
}

@font-face {
	font-family: "Nunito-Bold";
	src: url("Nunito-SemiBold.ttf") format("opentype");
}

body {
	font-family: Nunito;
}

.books-table {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	text-align: left;
	border: none;
	margin-left: auto;
}

.books-table th {
	border: none;
}

.books-table__header-column {
	font-weight: initial;
	font-size: 18px;
}

.books-table__name {
	min-width: 250px;
	max-width: 350px;
}

.books-table__author {
	min-width: 250px;
	max-width: 350px;
}

.books-table__date {
	width: 120px;
}

.books-table__edit, .books-table__close {
	width: 20px;
	height: 20px;
	margin-left: 20px;
	background: url(../img/edit.png) 100% no-repeat;
	cursor: pointer;
	display: inline-block;
}

.books-table__edit {
	margin-left: 20px;
	background: url(../img/edit.png) 100% no-repeat;
}

.books-table__close {
	margin-left: 10px;
	background: url(../img/close.png) 100% no-repeat;
	opacity: 0.1;
}

.books-table__close:hover {
	opacity: 0.5;
}

.catalog-header {
	margin-top: 30px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
}

.catalog-type-buttons-container {
	margin-top: 10px;
	text-align: center;
	font-size: 0;
}

.catalog-type-button {
	width: 200px;
	font-size: 20px;
	border: 1px solid #547cff;
	display: inline-block;
}

.public-catalog-button {
	border-radius: 8px 0 0 8px;
	background-color: white;
}

.private-catalog-button {
	border-radius: 0 8px 8px 0;
	background-color: #547cff;
	color: white;
}

.catalog-type-button_inactive {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.add-book-button {
	width: 150px;
	line-height: 30px;
	font-size: 20px;
	color: #797979;
	border-radius: 8px;
	background-color: #ececec;
	margin: 0 auto;
	margin-top: 25px;
	cursor: pointer;
	text-align: center;
}

.blocking-window {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: black;
	opacity: 0.3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.book-editor {
	width: 600px;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
}

.book-editor__header {
	height: 60px;
	line-height: 60px;
	border-radius: 12px 12px 0 0;
	background-color: #3eb140;
	font-size: 30px;
	color: white;
	padding-left: 20px;
}

.book-editor__content {
	border-radius: 0 0 12px 12px;
	overflow: auto;
	background-color: white;
	border-top: none;
	padding: 20px;
}

.book-editor__field-name {
	font-family: Nunito-Bold;
	font-size: 20px;
	margin-top: 20px;
}

.book-editor__field-name_first {
	margin-top: 7px;
}

.book-editor__field-text-value, .book-editor__field-date-value {
	margin-top: 7px;
	height: 30px;
	font-size: 18px;
}

.book-editor__field-text-value {
	width: 100%;
	box-sizing: border-box;
}

.book-editor__save-button {
	width: 125px;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	border-radius: 5px;
	background-color: #3eb140;
	text-align: center;
	margin-top: 15px;
	color: white;
	float: right;
	cursor: pointer;
	margin-bottom: 10px;
}

.book-editor__cancel-button {
	width: 125px;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	margin-top: 15px;
	margin-right: 15px;
	color: black;
	float: right;
	cursor: pointer;
	margin-bottom: 10px;
}

.book-editor__save-button:hover {
	background-color: #5bc35d;
}

.book-editor__cancel-button:hover {
	background-color: #ededed;
}

.book-editor__catalog-type-input {
	font-size: 17px;
	margin-top: 3px;
}